# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/models/*
outputs/figures/*
outputs/logs/*
outputs/metrics/*
!outputs/models/.gitkeep
!outputs/figures/.gitkeep
!outputs/logs/.gitkeep
!outputs/metrics/.gitkeep

# Secrets
.env

# IDE
.vscode/
.idea/